<% provide(:title, "Log in") %>
<p class="login_ttl">ログイン</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :ユーザー名またはメールアドレス %>
      <%= f.text_field :login_id, class: 'form-control', placeholder: 'tanaka.tarou@prum.jp' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control', placeholder: '●●●●●●' %>

      <!-- デザイン外
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      -->

      <%= f.submit "ログイン", class: "btn btn-color" %>
    <% end %>

    <div class="line"></div> <!-- 登録の下の線 -->
    <div class="to_signup_wrapper">
      <%= link_to "新規申し込みはこちらへ", signup_path, class: "btn to_signup" %>
    </div>
    <!-- デザイン外
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    -->
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
  const body = document.querySelector('body');
  body.classList.remove('logout_body');

  const container = document.querySelector('.container');
  container.classList.remove('logout_style');

  const logo = document.querySelector('header');
  logo.classList.remove('logout_header');
});

</script>