<li id="tweet-<%= tweet.id %>">
  <%= link_to gravatar_for(tweet.user, size: 50), tweet.user %>
  <span class="user">
    <%= tweet.user.full_name %>
    <%= link_to tweet.user.user_name, tweet.user %>
    <%= time_ago_in_words(tweet.created_at) %>前
  </span>

  <span class="content">
    <%= tweet.content %>
  </span>

<!-- ここにグーグルマップ -->

    <% if current_user?(tweet.user) %>
      <%= link_to "delete", tweet, data: { "turbo-method": :delete,
                                               turbo_confirm: "You sure?" } %>
    <% end %>

</li>