<% provide(:title, ) %>
<div class="user_home">
  <p>ヘッダー画像</p>

  <%= image_tag current_user.image.variant(resize: "100x100"), class: 'edit_icon' %>

  <button id="modal-btn_edit" class="btn btn-color_edit">
    <p>プロフィールを編集</p>
  </button>
  <div class="flex_col">
    <span class="full_name"><%= @user.full_name %></span>
    <span class="user_name"><%= @user.user_name %></span>
    <span class="self_intro"><%= @user.self_introduction %></span>
  </div>

  <div class="follow">
    <div class="follow_count">
      <p>フォロー中</p><p>00</p>
    </div>
    <div class="follow_count">
      <p>フォロワー</p><p>00</p>
    </div>
  </div>
  <div class="tweet_tab">
    <div class="tab_block">
      <div>ツイート</div>
      <div class="orenge_line_tweet"></div>
    </div>
    <div class="tab_block">
      <div>ツイートと返信</div>
      <div class="orenge_line_res"></div>
    </div>
  </div>
</div>

<div class="tweet_topline">
  <div class="tweet_container">
    <p>こっちがツイート。ああああああああああああああ
    ああああああああああああああああああああああああああああ
    ああああああああああああああああああああああああああああ
    </p>
  </div>
</div>
<div class="tweet_topline">
  <div class="res_container">
    <h1>こっちがツイートと返信</h1>
  </div>
</div>

<div class="row">
 
  <div class="col-md-8">
    <% if @user.tweets.any? %>
      <h3>tweets (<%= @user.tweets.count %>)</h3>
      <ol class="tweets">
        <%= render @tweets %>
      </ol>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div>

 <!-- モーダルテスト -->

    <div id="modal_edit" class="modal_edit">
      <div class="modal-content_edit">
        <span class="close_edit">&times;</span>
        <p>ここにモーダル用のコンテンツを書きます。</p>
      </div>
    </div>


<script>
  document.addEventListener("turbo:load", function() {
  const body = document.querySelector('body');
  body.classList.remove('logout_body');

  const container = document.querySelector('.container');
  container.classList.remove('logout_style');

  const logo = document.querySelector('header');
  logo.classList.remove('logout_header');
});

// モーダルを開くためのボタンを取得
var modalBtn_edit = document.getElementById("modal-btn_edit");

// モーダル要素を取得
var modal_edit = document.getElementById("modal_edit");

// 閉じるボタンを取得
var closeBtn_edit = document.getElementsByClassName("close_edit")[0];

// ボタンをクリックした際に、モーダルを表示する
modalBtn_edit.onclick = function() {
  modal_edit.style.display = "block";
}

// 閉じるボタンをクリックした際に、モーダルを非表示にする
closeBtn_edit.onclick = function() {
  modal_edit.style.display = "none";
}

</script>