<% provide(:title, ) %>

<%= @user.user_name %>, <%= @user.full_name %>, <%= @user.email %>, <%= @user. self_introduction %>
 <%= image_tag @user.image.variant(resize_to_limit: [100, 100]) %>
<%= link_to "Log out", logout_path %>

<div class="row">
 
  <div class="col-md-8">
    <% if @user.tweets.any? %>
      <h3>tweets (<%= @user.tweets.count %>)</h3>
      <ol class="tweets">
        <%= render @tweets %>
      </ol>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div>
<script>
  document.addEventListener("turbo:load", function() {
  const body = document.querySelector('body');
  body.classList.remove('logout_body');

  const container = document.querySelector('.container');
  container.classList.remove('logout_style');

  const logo = document.querySelector('header');
  logo.classList.remove('logout_header');
});

</script>