<% if logged_in? %>
<header class="row sidebar-header-l">
  <div class="col-sm-3">
    <%= image_tag '01.png', class: 'logo_B' %>
    
    <%= link_to root_path, class: "no-underline" do %>
        <div class="icon_wrapper">
            <%= image_tag 'home_icon.svg', class: 'home' %>
            <p>ホーム</p>
        </div>
    <% end %>

    <%= link_to current_user, class: "no-underline" do %>
        <div class="icon_wrapper">
            <%= image_tag 'person_icon', class: 'person' %>
            <p>プロフィール</p>
        </div>
    <% end %>

    <%= link_to logout_path, data: { "turbo-method": :delete }, class: "no-underline" do %>
        <div class="icon_wrapper">
            <%= image_tag 'logout_icon', class: 'logout' %>
            <p>ログアウト</p>
        </div>
    <% end %>

    <%= link_to edit_user_path(current_user), class: "no-underline" do %>
        <div class="icon_wrapper">
            <%= image_tag 'gear_icon', class: 'gear' %>
            <p>設定</p>
        </div>
    <% end %>

    <div class="sideform">
        <button id="modal-btn-tweet" class="btn btn-color-o"><p>ツイートする</p></button>
    </div>

    <!-- モーダル -->

    <div id="modal-tweet" class="modal-tweet">
      <div class="modal-content-tweet">
        <span class="close">&times;</span>
        <div class="sidebar_tweet_all">
            <div class="sidebar_tweet_image" >
                <%= link_to user_path(current_user) do %>
                    <%= image_tag current_user.image.variant(resize: "50x50") %>
                <% end %>
            </div>
            <div class="sidebar_tweet_name_txt">
                <div class="sidebar_tweet_name">
                    <%= current_user.user_name %>
                    <span style="color:gray;"><%= current_user.full_name %></span>
                </div>
                <div class="sidebar_tweet_txt">
                    <%= form_with(model: @tweet, url: tweets_path) do |f| %>
                        <%= f.text_area :content, placeholder: 'いまどうしてる？' %>
                        <%= f.submit "ツイートする", class: "btn btn-color-o sidebar_tweet_btn"%>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</header>
<header class="row sidebar-header-r">
</header>
<% else %>
    <li><%= link_to "Log in", login_path %></li>
<% end %>

<script>

    // モーダルを開くためのボタンを取得
    var modalBtn = document.getElementById("modal-btn-tweet");

    // モーダル要素を取得
    var modal = document.getElementById("modal-tweet");

    // 閉じるボタンを取得
    var closeBtn = document.getElementsByClassName("close")[0];

    // ボタンをクリックした際に、モーダルを表示する
    modalBtn.onclick = function() {
    modal.style.display = "block";
    }

    // 閉じるボタンをクリックした際に、モーダルを非表示にする
    closeBtn.onclick = function() {
    modal.style.display = "none";
    }

    // モーダルの外側をクリックした際に、モーダルを非表示にする
    window.onclick = function(event) {
    if (event.target == modal ) {
        modal.style.display = "none";
    } else if (event.target == modal_edit)
        modal_edit.style.display = "none";
    }

</script>
